<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/admin.css">
  <link rel="stylesheet" href="fonts/Exo2.0/Exo2.0.css">
  <title>Admin Page</title>
</head>

<body>

  <header>
    <div class="title">Административная панель</div>
  </header>

  <!-- <div id="buttons">
    <form>
      <button>Удалить</button>
    </form>
  </div> -->
  <table id="spreadsheet">
    <tr>
      <td>id</td>
      <td>service id</td>
      <td>execution status</td>
      <td>user id</td>
      <td>executor id</td>
      <td>registration time</td>
      <td>appointed time</td>
      <td>date of completion</td>
      <td>client address</td>
      <td>destination address</td>
      <td>shopping list</td>
      <td>payment method</td>
    </tr>

    </tr>
  </table>

  <script src="js/admin.js"></script>
</body>

</html>
